@inherits LayoutComponentBase

<div id="header">
    <a href="/default.aspx" class="logo">
        <img src="/images/logo.png" alt="" width="234" height="90"/>
    </a>
    <span style="font-size: 32px;color: red; padding-top: 30px">FOR DEMO PURPOSES ONLY!!!!!!</span>
    <ul id="menu">
        <NavMenu/>
    </ul>
</div>
@Body
<div id="footer">
    <ul>
        <NavMenu/>
    </ul>
    <p>
        ©2022 <a href="https://cyberlancers.com">Cyberlancers LLC</a>, All Rights Reserved
    </p>
</div>
