@page "/"

<div id="wrapper">
    <div id="left">
        <div id="columns">
            <div class="column">
                <div>
                    <TopDestinations/>
                </div>
            </div>
            <div class="column c2">
                <div>
                    <TopCruiseLines/>
                </div>
            </div>
        </div>
        <SearchBox/>
        <div class="text">
            <img src="/images/title4.gif" alt="" width="249" height="27"/>
            <p>
                Cruise Price Watch has launched as the premier Cruise Search Engine to help you
                find the best price for your cruise. Take advantage of our charting and
                statistical analysis to know when to buy your next cruise. We will also notify
                you if the price changes for your cruise so you can take advantage of the
                savings.
            </p>
        </div>
    </div>
    <div id="right">
        <div>
            <img src="/images/title6.gif" alt="" width="183" height="27"/>
            <p>
                Are you looking to book a cruise? Wondering when to purchase so that you can get
                the best price? Worried that the price is going to go up? We try to help answer
                these questions by providing insights into the cruise industry to help you get
                the best deal. Cruising is a great way to see the world and is a growing
                industry. Plan your next cruise using Cruise Price Watch and be alerted if the
                price drops so you can take advantage of the savings.
            </p>
        </div>
        <div>
            <img src="/images/title7.gif" alt="" width="177" height="28"/><br/>
            <div style="padding-left:10px">
                <CruiseDeals/>
            </div>
        </div>
    </div>
</div>