@page "/Results"

<div id="content">
    <div id="main">
        <p>
            <span>@Title</span> &raquo; <span>@DateRange</span>
        </p>
        <span class="contentTitle">@Title</span><br/>
        <SearchResultsList SearchCriteria="criteria"/>
    </div>
    <div id="sidebar">
        @* <FilterCriteria/> *@
    </div>
</div>